<% include partials/header.ejs %>

<div class="container text-center" id="home-page">
  <h2>Shorten Your URL here!</h2>

  <form action="/links" method="post">
    <div class="form-group">
      <label>Copy and Paste your URL here</label>
      <input id="input-field" type="text" name="url" class="form-control" placeholder="A really really really ridicuosly long url">
    </div>
    <input type="submit" value="Shorten" class="btn btn-primary">
  </form>

</div>

<% include partials/footer.ejs %>

<!-- id="search-form" class="form" -->