<% include ../partials/header %>

<div class="container text-center" id="results-page">
  <h3>Shortened URL:</h3>
  <h4><%= taco %></h4>

  <a href="http://<%= taco %> ">http://<%= taco %></a>



</div>

<% include ../partials/footer %>