<% include ../partials/header %>

<div class="container text-center" id="results-page">
  <h2>Shortened localhost:3000/<%= taco %></h2>

  <a href= <%= taco %>> >Click Me!</a>



</div>

<% include ../partials/footer %>